@model Category
@{
    ViewData["Title"] = "Get Details";
}

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Get category details</h2>
        <div class="mb-3">
            <label asp-for="Id">Category ID:</label>
            <input type="text" asp-for="Id" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Name">Category name:</label>
            <input type="text" asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder">Display Order:</label>
            <input type="text" asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="CreateDateTime">Created Date:</label>
            <input type="text" asp-for="CreateDateTime" disabled class="form-control" />
        </div>
        <a asp-controller="Category" asp-action="Index" class="mt-2 btn btn-secondary" style="width:100%">Go back to Index</a>
    </div>
</form>

